$active_color: #A7CC48
$button_color: #FFFFFF20
$card_color: #383957

.main
    .tab_container
        display: flex
        padding: 10px
        flex-direction: column
        gap: 10px

        .tabs_list
            display: flex
            justify-content: space-between
            background-color: $card_color
            border-radius: 5px
            padding: 5px

            .tab
                display: flex
                align-items: center
                justify-content: center
                height: 40px
                text-align: center
                border-radius: 5px
                width: calc(100% / 3 - 5px)
                font-size: 13px
                transition: all .2s ease-out

                &:active
                    background-color: $button_color

                &.active
                    color: $active_color
                    font-weight: 500
                    background-color: $button_color
