$main_color: #E9F4FF
$text_color: #E9F4FF
$card_color: #3e74c0
$button_color: #80b0f3

*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: 'Montserrat', sans-serif

body
    background: $main_color
    color: $text_color

.main
    .game_list
        display: flex
        flex-direction: column
        gap: 5px
        padding: 10px

        .game
            display: flex
            align-items: center
            gap: 10px
            padding: 5px
            background: $card_color
            border-radius: 8px
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25)

            .name
                flex-grow: 1
                font-size: 13px

            img
                width: 40px
                height: 40px
                border-radius: 5px

            button
                background-color: $button_color
                height: 40px
                width: 40px
                filter: drop-shadow(3px 3px 8px rgba(0, 0, 0, 0.25))
                border: none
                border-radius: 5px
