$main_color: #2C2D3F
$text_color: #E9F4FF
$card_color: #383957
$icon_color: #A7CC48
$button_color: #FFFFFF20

*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: 'Montserrat', sans-serif

body
    background: $main_color
    color: $text_color

.main
    .game_list
        display: flex
        flex-direction: column
        gap: 5px
        padding: 10px

        .game
            display: flex
            align-items: center
            gap: 10px
            padding: 5px
            background: $card_color
            border-radius: 8px
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25)

            .name
                flex-grow: 1
                font-size: 13px

            img
                width: 40px
                height: 40px
                border-radius: 5px

            .buttons
                display: flex
                gap: 5px

                button
                    background-color: $card_color
                    height: 40px
                    width: 40px
                    border: none
                    border-radius: 5px
                    color: $text_color

                    img
                        height: auto
                        width: 25px
